In [111]:
!pip install  lxml pandas
from urllib.request import urlopen
from lxml import html, etree
import pandas as pd

Requirement already satisfied: lxml in /srv/conda/lib/python3.6/site-packages
Requirement already satisfied: pandas in /srv/conda/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.9.0 in /srv/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2.5.0 in /srv/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in /srv/conda/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas)
You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [112]:
page=urlopen('https://www.bloomberg.com/quote/JAGTX:US')

tree = html.fromstring(page.read().decode('utf-8'))
tree

In [113]:
holding=tree.xpath('//div[@class="holding"]')[0]
tbody=holding.xpath('//tbody')[0]
len(tbody)

10

In [114]:
def extractText(ele):
    return ele.text.strip()

In [128]:
fullName=tbody.xpath('//div[@data-type="full"]')
len(fullName)

10

In [118]:
abbreviation=tbody.xpath('//div[@data-type="abbreviation"]')
len(abbreviation)

10

In [119]:
percentage=tbody.xpath('//td[@data-type="percent"]')
len(percentage)

10

In [127]:
holding={
    'fullName':fullName,
    'abbreviation':abbreviation,
    'percentage':percentage
}
df = pd.DataFrame(data=holding)
df.apply(lambda s:s.apply(extractText))

                         fullName abbreviation percentage
0                  Microsoft Corp      MSFT:US       5.54
1                    Alphabet Inc      GOOG:US       5.42
2            Tencent Holdings Ltd       700:HK       4.19
3              salesforce.com Inc       CRM:US       3.82
4       Alibaba Group Holding Ltd      BABA:US       3.24
5               Adobe Systems Inc      ADBE:US       2.99
6                  Amazon.com Inc      AMZN:US       2.95
7        Microchip Technology Inc      MCHP:US       2.93
8  Taiwan Semiconductor Manufactu      2330:TT       2.69
9                   Amphenol Corp       APH:US       2.62